$color-neutral-white: #fff;
$color-primary-orange: #e67e22;
$color-neutral-gray: #555;

$color-neutral-black: rgba(0,0,0);
$color-neutral-black-a1: rgba(0,0,0, .7);
$color-neutral-black-a2: rgba(0,0,0, .7);
